<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="billing.css">
</head>
<body>
    <h1>ReShelve</h1>
    <div class="login-box">
        <h2>Add Item</h2>
        <form action="/CCCP2/reshelve">
            <div class="user-box">
                <input type="text" name="code" id="code" required="">
                <label>Code</label>
            </div>
            <div class="user-box">
                <input type="number" name="quantity" id="quantity" required="">
                <label>Quantity</label>
            </div>
            <!--            <div class="user-box">-->
            <!--                <input type="password" name="" required="">-->
            <!--                <label>Discount</label>-->
            <!--            </div>-->
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>